body {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    background: #000;
    color: #0ff;
    overflow: hidden;
}

h1 {
    font-size: 60px;
    margin: 20px 0;
    color: #0ff;
    text-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 30px #0ff;
    animation: neonPulse 1s infinite alternate;
}

@keyframes neonPulse {
    0% { text-shadow: 0 0 10px #0ff,0 0 20px #0ff; }
    100% { text-shadow: 0 0 20px #0ff,0 0 40px #0ff, 0 0 60px #0ff; }
}

.neon-btn {
    font-size: 26px;
    padding: 15px 35px;
    margin: 10px;
    background: linear-gradient(to right, #0ff, #00bcd4);
    border: none;
    border-radius: 15px;
    color: #000;
    cursor: pointer;
    box-shadow: 0 0 10px #0ff, 0 0 20px #00bcd4;
    transition: 0.3s;
}

.neon-btn:hover {
    transform: scale(1.15);
    box-shadow: 0 0 20px #0ff, 0 0 40px #00bcd4;
}

.popup {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.9);
    z-index: 999;
}

.popup-content {
    background: #001f2d;
    border: 3px solid #0ff;
    padding: 30px;
    width: 500px;
    margin: 100px auto;
    border-radius: 20px;
    color: #0ff;
    box-shadow: 0 0 20px #0ff;
}

.game {
    width: 700px;
    height: 400px;
    margin: 20px auto;
    background: linear-gradient(180deg, #001f2d, #003844);
    border: 3px solid #0ff;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 30px #0ff;
    display: none;
}

#ball {
    width: 40px;
    height: 40px;
    background: radial-gradient(circle, #0ff, #00bcd4);
    border-radius: 50%;
    position: absolute;
    top: 180px;
    left: 330px;
    box-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 40px #0ff;
    animation: glowBall 2s infinite alternate;
}

@keyframes glowBall {
    0% { box-shadow: 0 0 10px #0ff,0 0 20px #0ff,0 0 30px #0ff; }
    100% { box-shadow: 0 0 20px #0ff,0 0 40px #0ff,0 0 60px #0ff; }
}

canvas#stars {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

.question {
    margin-top: 20px;
    font-size: 26px;
    color: #0ff;
    text-shadow: 0 0 5px #0ff;
}

#options {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    gap: 25px;
}

.option-btn {
    font-size: 28px;
    padding: 18px 35px;
    background: linear-gradient(to right, #0ff, #00bcd4);
    border: none;
    border-radius: 15px;
    color: #000;
    cursor: pointer;
    box-shadow: 0 0 10px #0ff, 0 0 20px #00bcd4;
    transition: 0.3s;
}

.option-btn:hover {
    transform: scale(1.2);
    box-shadow: 0 0 20px #0ff, 0 0 40px #00bcd4;
}

.score {
    font-size: 28px;
    color: #0ff;
    text-shadow: 0 0 5px #0ff, 0 0 10px #00bcd4;
}
